<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="usage.ywb.wrapper.player">


    <!-- 读取存储卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序重新启动其他程序 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 存储卡写入的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="usage.ywb.wrapper.mvp.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_action_playing"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>
